<div class="container topnav mt-2">
  <div class="row">
    <div class="col-5">
      <img src="assets/images/stone-stamcor-logo.png" alt="Stone Stamcor logo" height="80">
    </div>
    <div class="col-7 align-middle pt-4">      
      <a href="/" id="homeButton"><i class="fas fa-home"></i></a>      
    
      &nbsp;
      <img src="assets/images/line.png">
      &nbsp;
    
      <div class="dropdown-menu">
        <button class="menu-btn">Reports<mat-icon>expand_more</mat-icon></button>
        <div class="menu-content">
          <a class="links-hidden" href="history/none/yesterday">Yesterday</a>
          <a class="links-hidden" href="historyCustom">Custom</a>
        </div>
      </div>

      <img src="assets/images/line.png">
      &nbsp;

      <div class="dropdown-menu">
        <button class="menu-btn">Setup<mat-icon>expand_more</mat-icon></button>
        <div class="menu-content">
          <a class="links-hidden" href="machineDetails">Machine details</a>
        </div>
      </div>  

    </div>
  </div>
</div>


<div class="mt-2">
  <router-outlet></router-outlet>
</div>
