<div class="row" id="pageTitle">
    <img src="assets/images/banner.png" alt="Logo">        
</div>
<h1 id="headerTitle" >Custom report</h1>    

<div class="container mt-2">    
    <div class="row mt-5">
        <div class="col-4 mx-auto border shadow p-3">    
            <mat-card class="my-2" >
                <mat-card-header>
                    <mat-card-title>Report filter</mat-card-title>
                </mat-card-header> 

                <mat-card-content>

                    <div>
                        <mat-checkbox color=primary (change)="onChkFilterDateChange()" >Filter by date</mat-checkbox>
                    </div>       
                
                    <mat-form-field appearance="fill" [hidden]="!doFilterDate">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="dp" [formControl]="date" #dateInputControl >
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp >
                        </mat-datepicker>
                    </mat-form-field>

                    <div>
                        <mat-checkbox color=primary (change)="onChkFilterMachineChange()" >Filter by machine</mat-checkbox>
                    </div>

                    <div class="mt-2" *ngIf="doFilterMachine">
                        <mat-form-field floatlabel = "always" appearance="outline" > 
                            <mat-label>Machine</mat-label>
                            <mat-select [(value)]="selectedMachine">
                                <div *ngFor="let machineDetail of getMachineDetails()">
                                    <mat-option value="{{ machineDetail.id }}">{{ machineDetail.name }}</mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end" >
                    <div class="my-3">  
                        <ng-container *ngIf="doFilterDate">
                            <button mat-raised-button class="fullwidth" color="primary" (click)="onSubmitClick(dateInputControl.value)" ><mat-icon>check_circle_outline</mat-icon>&nbsp;Submit</button>
                        </ng-container> 
                        <ng-container *ngIf="!doFilterDate && doFilterMachine && hasSelectedMachine()">
                            <button mat-raised-button class="fullwidth" color="primary" (click)="onSubmitMachineOnlyClick()"  ><mat-icon>check_circle_outline</mat-icon>&nbsp;Submit</button>
                        </ng-container>                  
                        
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>    
    </div>
</div>