@import "ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ag-theme-alpine {
    @include ag-theme-alpine((
        // use theme parameters where possible
        header-background-color: rgb(235, 0, 42),
        alpine-active-color: #ff9696,
        row-hover-color: #ff9696,
        odd-row-background-color: #ffe6e6
    ));

    .ag-header {
        // or write CSS selectors to make customisations beyond what the parameters support
        text-style: italic;        
    }

    .ag-header-cell-label{
        color: white; 
    }
}
