<div class="div border shadow px-2 mt-5 col-5 mx-auto">
    <mat-card class="my-2" >
        <mat-card-header>
            <mat-card-title>New Machine</mat-card-title>            
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field floatlabel = "always"> 
                    <mat-label>Id</mat-label>
                    <input matInput [(ngModel)]="addId" matTooltip="Must be the number of the ESP controller">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field floatlabel = "always"> 
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="addName">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" [disabled]="!canAdd()" (click)="onAddClick()" >Add</button>            
          </mat-card-actions>
    </mat-card>

    <mat-card class="my-2" >
        <mat-card-header>
            <mat-card-title>Update Machine Details</mat-card-title>           
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field floatlabel = "always" appearance="outline"> 
                    <mat-label>Id</mat-label>
                    <mat-select [(value)]="editId" (selectionChange)="onSelectionChange()">
                        <div *ngFor="let machineDetail of machineDetailsGet()">
                            <mat-option  value="{{ machineDetail.id}}">{{ machineDetail.name}}</mat-option>
                        </div >
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="row mt-1" [hidden] = "!canDisplayEditControls()">   
                <div class="row mb-2">                    
                    <mat-label>Id</mat-label>
                    <mat-label>{{editId}}</mat-label>                                            
                </div>     
                <div class="row mb-2">
                    <mat-form-field floatlabel = "always">   
                        <mat-label>Name</mat-label>
                        <input matInput [(ngModel)]="editName">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field floatlabel = "always"> 
                        <mat-label>Average</mat-label>
                        <input matInput [(ngModel)]="editAverage">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field floatlabel = "always"> 
                        <mat-label>Margin</mat-label>
                        <input matInput [(ngModel)]="editMargin">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field floatlabel = "always"> 
                        <mat-label>Upload Minutes</mat-label>
                        <input matInput [(ngModel)]="editUploadmin">
                    </mat-form-field>
                </div>

            </div>
        </mat-card-content>
        <mat-card-actions align="end" >
            <div>
                <button mat-raised-button color="primary" [disabled]="!canEdit()" (click)="onEditClick()">Update</button>            
                <button mat-raised-button color="primary" [disabled]="!canEdit()" (click)="onDeleteClick()">Delete</button>
            </div>            
          </mat-card-actions>
    </mat-card>

</div>
