<mat-card class="mb-1" [ngClass]="getClass()">
    <mat-card-title>
        <div class="row">
            <div class="col-11">
                {{ machineName }}
            </div>
            <div class="col-1 align-self-end" *ngIf="hasNote()">                  
                <mat-icon matTooltip="{{note}}" matTooltipHideDelay="10000" (click)="onShowNoteClick()" >info</mat-icon>                
            </div>
        </div>
    </mat-card-title>
    <mat-card-subtitle>Last Update: {{lastUpdate}} </mat-card-subtitle>

    <mat-card-content>
        <div *ngIf="showNote" class="my-3 p-2 border shadow 1px">
            <p>Note:</p>
            {{note}}
        </div>
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-4">
                        Yesterday's average: {{average}}
                    </div>
                    <div class="col-4">
                        Current average: {{currentAverage}}
                    </div>                    
                    <div class="col-4">
                        Last Update amount: {{lastUpdateAmount}}
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-4">
                        Operator : {{operatorName}}
                    </div>
                    <div class="col-4">
                        Total for the day: {{totalForDay}}
                    </div>
                    <div class="col-4">
                        Inactive Minutes: {{inativeMinutes}}
                    </div>
                </div>
            </div>
            <div class="col-2 text-end">
                <button mat-raised-button color="primary" (click)="btnDetailClickedHandler()">Detail</button>
                &nbsp;
                <button mat-raised-button color="primary" (click)="btnHistoryClickedHandler()">History</button>
            </div>
        </div>
    </mat-card-content>

</mat-card>